pypdf
openpyxl
python-docx
python-pptx
beautifulsoup4
openai
streamlit>=v1.43.2
fugashi
unidic-lite
qdrant-client==1.13.3
fastembed==0.6.0
sudachidict_core
sudachipy
stopwordsiso
torch
sentence-transformers
mcp