pypdf
openpyxl
python-docx
python-pptx
beautifulsoup4
openai
streamlit>=v1.43.2
sentence-transformers
fugashi
sentencepiece
unidic-lite
qdrant-client
sudachidict_core
sudachipy
fastembed
stopwordsiso
